@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Poppins, sans-serif;
  margin-bottom: 400px;
}
.container{
  margin: 0 auto;
}

.choos-cart{
    display: flex;
    background-color: #fff;
    flex: 1;
    max-width: 420px;
    padding: 2.5em 1.25em;
    align-items: center;
    border-radius: 12px;
    flex-direction: column;
    text-align: center;
    z-index: 100;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, .08);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, .08);
    box-shadow: 0 5px 25px #00000014;
}
.choos-cart h3{
  font-size: 1.37em;
  font-weight: 500;
  margin-bottom: .5em;
  color: #0b295a;
  margin-top: 20px;
}
.choos-cart p{
  font-size: 1.05em;
    font-weight: 400;
    color: #54698b;
}
